In [5]:
import requests
import pandas as pd

In [20]:
df = pd.read_excel ('input/frases2.xlsx')
df.head()

,name,chat_name,message
0,Mike Wheeler,friends,No se lo voy a decir a mis padres
1,Mike Wheeler,friends,Tardamos dos semanas en pelear la batalla. ¿Co...
2,Mike Wheeler,friends,Eso es porque está saliendo con el imbécil ese
3,Once,friends_new,"Estoy buscando a mi hermana, la he visto, aquí."
4,Once,friends_new,Te vi a ti en la habitación arco iris.

In [15]:
mensajes = []
for a in range(35):
    mensajes.append(dict(df.loc[a]))

In [17]:
url_mensaje = "http://localhost:5000/new/message"

In [18]:
for m in mensajes:
    requests.post(url_mensaje, data=m)